.modalll {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modalll.activeee {
    opacity: 1;
    pointer-events: all;
}

.modal-conttt {
    margin-top: 50px;
    border-radius: 24px;
    background-image: url(/public/img/watchnewm.png);
    width: 551px;
    height: 257px;
    transform: scale(0.5);
    transition: 0.2s all;
}

.modal-conttt.activeee {
    transform: scale(1);
}

.oglav {
    font-size: 20px;
    margin-left: 236px;
    margin-top: 30px;
}

.date {
    font-size: 10px;
    font-weight: 500;
    margin-left: 236px;
}

.opis {
    font-size: 11px;
    margin-left: 236px;
}

.opis2 {
    font-size: 10px;
    margin-left: 236px;
    margin-top: 10px;
}